<?xml version='1.0' encoding="utf-8"?>
<document>

	<name>index</name>
	<title>授業</title>
	<show_aside>true</show_aside>
	<content>
&lt;p&gt;台科大電子工程系教授鄭瑞光表示，過去無線通訊工程師只熟悉各自專精的領域，對於其他部分的基礎知識，缺乏全盤的瞭解，尤其無線通訊技術發展迅速，如果沒有持續吸收新知及跨領域整合的能力，很容易與產&lt;span class=&quot;macho&quot; style=&quot;display: inline-block;&quot;&gt;業脫節。&lt;/span&gt;&lt;/p&gt;

&lt;p&gt;鄭瑞光表示，WCET認證涵蓋面向廣，包括有志於無線通訊產業所必須具備的基礎知識。台科大將開辦培訓課程，鎖定中高階技術人才，與國&lt;span class=&quot;macho&quot; style=&quot;display: inline-block;&quot;&gt;際接軌。&lt;/span&gt;&lt;/p&gt;
	</content>

</document>
